.modal__overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  width: 50vw;
  background-color: #bfd8d9;
  height: 50vh;
  border-radius: 10px;
  max-width: 500px;
  position: relative;
  padding: 10px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  color: black;
  padding: 1rem;
  border-radius: inherit;
}
.modal__formGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.modal__formGroup > * {
  width: 40%;
  outline: none;
  border: none;
  height: 100%;
  padding: 0.3rem;
  border-radius: 8px;
  outline: #549cf8;
}
.modal__formGroup label {
  background-color: #d2e3e4;
}
.modal__actions {
  display: flex;
  justify-content: center;
  grid-gap: 2rem;
}
.modal__submit,
.modal__close {
  border: none;
  outline: none;
  width: 5rem;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: -0.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
}
.modal__submit:hover,
.modal__close:hover {
  background-color: #eee;
}
