.day__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.day__hours {
  overflow: auto;
  height: 45vh;
}
.day__hourCells {
  border: 1px solid cadetblue;
  height: 5rem;
  position: relative;
}
.day__hourCells:first-child {
  border-top: 2px solid cadetblue;
}
.day__hourCells:last-child {
  border-bottom: 2px solid cadetblue;
}
.day__hour {
  width: fit-content;
  position: absolute;
  left: 4px;
  font-weight: bold;
}
.day__slots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.day__slot {
  /* height: 2rem; */
  width: fit-content;
  border-radius: 5px;
  background-color: #197bbd;
  padding: 0.5rem;
  color: white;
}
.day__hourCells:hover {
  background-color: lightgray;
}
.day__prev,
.day__next {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.day__prev:hover,
.day__next:hover {
  cursor: pointer;
  background-color: lightgray;
}
