.month__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.month__weekdays {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: cadetblue;
  padding: 0.2rem 0;
}
.month__allDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 49vh;
  overflow: auto;
}

.month__cells {
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-right: 1px solid cadetblue;
  border-left: 1px solid cadetblue;
  border-bottom: 1px solid cadetblue;
  overflow: auto;
}
.month__cells:hover {
  cursor: pointer;
  background-color: lightgray;
}
.month__date {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.month__daySlots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.month__daySlot {
  width: fit-content;
  border-radius: 5px;
  background-color: #197bbd;
  padding: 0.2rem;
  color: white;
}
.month__prev,
.month__next {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.month__prev:hover,
.month__next:hover {
  cursor: pointer;
  background-color: lightgray;
}
