.week__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
}
.week__weekdays {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  padding: 0.2rem 0;
}
.week__allDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week__dateCells {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  background-color: lightseagreen;
}

.week__hours {
  overflow-y: auto;
  height: 40vh;
}
.week__hourCells {
  border: 1px solid cadetblue;
  height: 5rem;
  position: relative;
}
.week__hour {
  width: fit-content;
  position: absolute;
  left: 4px;
  font-weight: bold;
}
.week__dayCells {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}
.week__dayCell {
  height: 100%;
  border-right: 1px solid cadetblue;
  overflow: auto;
}
.week__dayCell:hover {
  background-color: lightgray;
}
.week__prev,
.week__next {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.week__prev:hover,
.week__next:hover {
  cursor: pointer;
  background-color: lightgray;
}
.week__slotBooked {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: #197bbd;
  color: white;
}
